@model IEnumerable<Personal_Management.Models.Documents>

@{
    ViewBag.Title = "Реестр документов, необходимых для сдачи";
    ViewBag.NameMeta = "Doc";
    ViewBag.ContentMeta = "На данном окне возможно просмотреть список документов, подлежащих сбору";
}
    <div class="container">
        <h2>Виды документов</h2>
        <hr />
        <ol class="breadcrumb mb-3">
            <li class="breadcrumb-item">@Html.ActionLink("Cбор документов", "Index", "Sbor_Docum")</li>
        </ol>
        <hr />
        <p>
            <a style="color:green" title="" href="~/Documents/Create">
                <svg class="bi bi-plus-circle" width="2em" height="2em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" d="M8 3.5a.5.5 0 01.5.5v4a.5.5 0 01-.5.5H4a.5.5 0 010-1h3.5V4a.5.5 0 01.5-.5z" clip-rule="evenodd" />
                    <path fill-rule="evenodd" d="M7.5 8a.5.5 0 01.5-.5h4a.5.5 0 010 1H8.5V12a.5.5 0 01-1 0V8z" clip-rule="evenodd" />
                    <path fill-rule="evenodd" d="M8 15A7 7 0 108 1a7 7 0 000 14zm0 1A8 8 0 108 0a8 8 0 000 16z" clip-rule="evenodd" />
                </svg>
                Добавить документ
            </a>
        </p>
        @{ Html.BeginForm("BatchDelete", "Documents", FormMethod.Post, new { name = "tableForm" }); }
        <input class="form-control" type="text" placeholder="Поиск по документам" style="margin-top: 15px;
        margin-bottom: 15px
    " id="search-text" onkeyup="tableSearch()">
        <div style="overflow-x:auto;">
            <table class="table" id="info-table">
                <thead>
                    <tr>
                        <th>
                            Выбор
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Doc_Naim)
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <th>
                                <input type="checkbox" name="deleteInputs" value="@item.ID_Doc" />
                            </th>
                            <td>
                                @Html.DisplayFor(modelItem => item.Doc_Naim)
                            </td>
                            <td>
                                <a href="~/Documents/Edit/@item.ID_Doc">
                                    <svg class="bi bi-pencil-square" width="2em" height="2em" style="color:orange" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M15.502 1.94a.5.5 0 010 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 01.707 0l1.293 1.293zm-1.75 2.456l-2-2L4.939 9.21a.5.5 0 00-.121.196l-.805 2.414a.25.25 0 00.316.316l2.414-.805a.5.5 0 00.196-.12l6.813-6.814z" />
                                        <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 002.5 15h11a1.5 1.5 0 001.5-1.5v-6a.5.5 0 00-1 0v6a.5.5 0 01-.5.5h-11a.5.5 0 01-.5-.5v-11a.5.5 0 01.5-.5H9a.5.5 0 000-1H2.5A1.5 1.5 0 001 2.5v11z" clip-rule="evenodd" />
                                    </svg>
                                </a>
                                <a data-placement="top" class="compItem" data-toggle="tooltip" title="" data-original-title="Tooltip on top" href="~/Documents/Delete/@item.ID_Doc">
                                    <svg class="bi bi-trash" width="2em" height="2em" viewBox="0 0 16 16" style="color:red" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M5.5 5.5A.5.5 0 016 6v6a.5.5 0 01-1 0V6a.5.5 0 01.5-.5zm2.5 0a.5.5 0 01.5.5v6a.5.5 0 01-1 0V6a.5.5 0 01.5-.5zm3 .5a.5.5 0 00-1 0v6a.5.5 0 001 0V6z" />
                                        <path fill-rule="evenodd" d="M14.5 3a1 1 0 01-1 1H13v9a2 2 0 01-2 2H5a2 2 0 01-2-2V4h-.5a1 1 0 01-1-1V2a1 1 0 011-1H6a1 1 0 011-1h2a1 1 0 011 1h3.5a1 1 0 011 1v1zM4.118 4L4 4.059V13a1 1 0 001 1h6a1 1 0 001-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z" clip-rule="evenodd" />
                                    </svg>
                                </a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
            <!-- Section for buttons -->
            <div class="actions">
                <a href="javascript:(function(){document.tableForm.submit();return void(0);})()" class="btn btn-outline-danger">
                    Удалить выбранные документы
                </a>
            </div>
            @{ Html.EndForm(); }
            <div id="modDialog" class="modal fade">
                <div id="dialogContent" class="modal-dialog modal-lg"></div>
            </div>
        </div>
    </div>
        @section scripts
{
            <script type="text/javascript">

                $(function () {
                    $.ajaxSetup({ cache: false });
                    $(".compItem").click(function (e) {

                        e.preventDefault();
                        $.get(this.href, function (data) {
                            $('#dialogContent').html(data);
                            $('#modDialog').modal('show');
                        });
                    });
                })
            </script>
        }
        <script>
            function tableSearch() {
                var phrase = document.getElementById('search-text');
                var table = document.getElementById('info-table');
                var regPhrase = new RegExp(phrase.value, 'i');
                var flag = false;
                for (var i = 1; i < table.rows.length; i++) {
                    flag = false;
                    for (var j = table.rows[i].cells.length - 1; j >= 0; j--) {
                        flag = regPhrase.test(table.rows[i].cells[j].innerHTML);
                        if (flag) break;
                    }
                    if (flag) {
                        table.rows[i].style.display = "";
                    } else {
                        table.rows[i].style.display = "none";
                    }

                }
            }
        </script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/tablesort/5.1.0/tablesort.min.js"></script>
        <script>
            new Tablesort(document.getElementById('info-table'));
        </script>
        <style>
            th[role=columnheader]:not(.no-sort) {
                cursor: pointer;
            }

                th[role=columnheader]:not(.no-sort):after {
                    content: '';
                    float: right;
                    margin-top: 7px;
                    border-width: 0 4px 4px;
                    border-style: solid;
                    border-color: #404040 transparent;
                    visibility: hidden;
                    opacity: 0;
                    -ms-user-select: none;
                    -webkit-user-select: none;
                    -moz-user-select: none;
                    user-select: none;
                }

            th[aria-sort=ascending]:not(.no-sort):after {
                border-bottom: none;
                border-width: 4px 4px 0;
            }

            th[aria-sort]:not(.no-sort):after {
                visibility: visible;
                opacity: 0.4;
            }

            th[role=columnheader]:not(.no-sort):hover:after {
                visibility: visible;
                opacity: 1;
            }
        </style>
