@model IEnumerable<Personal_Management.Models.Sotrs>

<select id="Sotr_ID" name="Sotr_ID" class="form-control">
    @foreach (var item in Model)
    {
        <option value="@item.ID_Sotr">@item.Full</option>
    }
</select>

