@model IEnumerable<Personal_Management.Models.Isp_Sroki>

@{
    ViewBag.Title = "Испытательные сроки";
    ViewBag.NameMeta = "Isp";
    ViewBag.ContentMeta = "На данном окне возможно просмотреть список испытательных сроков";
}

<h2>Испытательные сроки</h2>
<hr />
<ol class="breadcrumb mb-3">
    <li class="breadcrumb-item">@Html.ActionLink("Сотрудники", "Index", "Sotrs")</li>
    <li class="breadcrumb-item"><a href="/Positions/Index/0">Просмотреть должности</a></li>
</ol>
<hr />
<form method="get" class="form-inline mr-auto" style="margin: 0 auto; width:80%">
    <input class="form-control" style="width:85%" type="text" value="@ViewBag.seo" placeholder="Поиск..." name="search" aria-label="Search">
    <button class="btn bg-dark" type="submit"><i class="fas fa-search" aria-hidden="true"></i></button>
</form>
<hr />
<p>
    @Html.ActionLink("Добавить новый испытательный срок", "Create")
</p>
<hr />

<ul class="nav nav-tabs">
    <li class="nav-item">
        <a class="nav-link active" data-toggle="tab" href="#home">Все</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#menu1">В ожидании</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#menu2">Принятые</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#menu3">Отклоненные</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#menu4">В процессе</a>
    </li>
</ul>

<div id="dataModel"></div>


@section scripts
{
    <script src="~/Scripts/jquery.signalR-2.4.1.min.js"></script>
    <script src="/signalr/hubs"></script>
    <script>
        $(function () {
            var hubNotify = $.connection.employeesHub;

            $.connection.hub.start().done(function () {
                getAll();
            });

            hubNotify.client.refreshEmployeeData = function () {
                getAll();
            };
        });

        function getAll() {
            var model = $('#dataModel');
            $.ajax({
                url: '/Isp_Sroki/GetEmployeeData',
                contentType: 'application/html ; charset:utf-8',
                type: 'GET',
                dataType: 'html',
                success: function (result) { model.empty().append(result); }
            });
        }
    </script>
}