@model Personal_Management.Models.Pass_Dannie

@{
    ViewBag.Title = "Удаление паспортных данных";
}
    <div class="container">
        <h2>Удаление данных</h2>

        <p>Вы действительно хотите удалить паспортные данные сотрудника: @Html.DisplayFor(model => model.Sotrs.Full)?</p>

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-actions no-color">
                <input type="submit" value="Удалить" class="btn btn-outline-success" /> |
                @Html.ActionLink("Вернуться к списку паспортных данных", "Index")
            </div>
        }
    </div>
