@model IEnumerable<Personal_Management.Models.Pass_Dannie>

@{
    ViewBag.Title = "Паспортные данные сотрудников";
    ViewBag.NameMeta = "Pass";
    ViewBag.ContentMeta = "На данном окне возможно просмотреть паспортные данные";
    Session["pred"] = "/Isp_Sroki/Index";
}
    <div class="container">
        <h2>Паспортные данные сотрудников</h2>
        <hr />
        <ol class="breadcrumb mb-3">
            <li class="breadcrumb-item">@Html.ActionLink("Отделы организации", "Index", "Departments")</li>
            <li class="breadcrumb-item"><a href="/Positions/Index/0">Должности</a></li>
            <li class="breadcrumb-item">@Html.ActionLink("Штатный состав", "Index", "Posit_Responsibilities")</li>
        </ol>
        <hr />
        @if (ViewBag.i == true)
        {
            <p>
                <a style="color:green" href="~/Pass_Dannie/Create">
                    <svg class="bi bi-plus-circle" width="2em" height="2em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" d="M8 3.5a.5.5 0 01.5.5v4a.5.5 0 01-.5.5H4a.5.5 0 010-1h3.5V4a.5.5 0 01.5-.5z" clip-rule="evenodd" />
                        <path fill-rule="evenodd" d="M7.5 8a.5.5 0 01.5-.5h4a.5.5 0 010 1H8.5V12a.5.5 0 01-1 0V8z" clip-rule="evenodd" />
                        <path fill-rule="evenodd" d="M8 15A7 7 0 108 1a7 7 0 000 14zm0 1A8 8 0 108 0a8 8 0 000 16z" clip-rule="evenodd" />
                    </svg>
                    Добавить паспортные данные
                </a>
            </p>
        }
        else
        {
            <p style="color:green">
                <svg class="bi bi-check-all" width="2em" height="2em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" d="M12.354 3.646a.5.5 0 010 .708l-7 7a.5.5 0 01-.708 0l-3.5-3.5a.5.5 0 11.708-.708L5 10.293l6.646-6.647a.5.5 0 01.708 0z" clip-rule="evenodd" />
                    <path d="M6.25 8.043l-.896-.897a.5.5 0 10-.708.708l.897.896.707-.707zm1 2.414l.896.897a.5.5 0 00.708 0l7-7a.5.5 0 00-.708-.708L8.5 10.293l-.543-.543-.707.707z" />
                </svg>
                Паспортные данные добавлены для всех сотрудников
            </p>
        }
        <div id="dataModel">
        </div>
    </div>

<div id="modDialog" class="modal fade">
    <div id="dialogContent" class="modal-dialog modal-lg"></div>
</div>


@section scripts{
    <script src="~/Scripts/jquery.signalR-2.4.1.min.js"></script>
    @Scripts.Render("~/bundles/jqueryval")
    <script src="/signalr/hubs"></script>
    <script type="text/javascript">
        $.ajaxSetup({ cache: false });
        $(".compItem").click(function (e) {

            e.preventDefault();
            $.get(this.href, function (data) {
                $('#dialogContent').html(data);
                $('#modDialog').modal('show');
            });
        });
        $(function () {

            var hubNotify = $.connection.employeesHub;

            $.connection.hub.start().done(function () {
                getAll();
            });

            hubNotify.client.refreshEmployeeData = function () {
                getAll();
            };

        });

        function getAll() {
            var model = $('#dataModel');
            $.ajax({
                url: '/Pass_Dannie/GetEmployeeData',
                contentType: 'application/html ; charset:utf-8',
                type: 'GET',
                dataType: 'html',
                success: function (result) { model.empty().append(result); }
            });
        }
    </script>
}  