@model Personal_Management.Models.Departments

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Departments</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Naim_Depart)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Naim_Depart)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID_Depart }) |
    @Html.ActionLink("Back to List", "Index")
</p>
