
@{
    ViewBag.Title = "Неавторизованный пользователь";
}
    <div class="container">
        <h1 style="margin: 0 auto; text-align:center">Ошибка 401</h1>
        <br />
        <div class="row">
            <div style=" text-align:center;" class="col-sm">
                <img style="width:30%; text-align:center" src="~/Content/Photo/доступ.png" />
                <h2>ВЫ НЕ АВТОРИЗОВАНЫ!!!</h2>
                <h3><a href="~/Account/Login">Войти в систему</a> | <a href="~/Account/Register">Зарегистрироваться</a></h3>
            </div>
        </div>
    </div>