
@{
    ViewBag.Title = "Страница не найдена";
}
    <div class="container">
        <h1 style="margin: 0 auto; text-align:center">Ошибка 404</h1>
        <br />
        <div class="row">
            <div style=" text-align:center;" class="col-sm">
                <img style="width:30%; text-align:center" src="~/Content/Photo/грусть4.png" />
                <h2>СТРАНИЦА НЕ НАЙДЕНА!!!</h2>
                <h3><a href="~/Home/Index">Попробуй вернуться на главную</a></h3>
            </div>
        </div>
    </div>