
@{
    ViewBag.Title = "Сервис не доступен";
}
<div class="container">
    <h1 style="margin: 0 auto; text-align:center">Ошибка 503</h1>
    <br />
    <div class="row">
        <div style=" text-align:center;" class="col-sm">
            <img style="width:30%; text-align:center" src="~/Content/Photo/Ser.png" />
            <h2>СЕРВИС ВРЕМЕННО НЕДОСТУПЕН!!!</h2>
            <h3><a href="~/Home/Index">Попробуй вернуться на главную</a></h3>
        </div>
    </div>
</div>