@model Personal_Management.Models.Work_Schedule

@{
    ViewBag.Title = "Delete";
}

<h2>Удаление</h2>

<h3>Вы действительно хотите удалить?</h3>
<div>
    <h4>Рабочие графики</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Naim_Sche)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Naim_Sche)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Удалить" class="btn btn-default" /> |
            @Html.ActionLink("Вернуться к списку рабочих графиков", "Index")
        </div>
    }
</div>
